@import url("reset.css");

.wrapper{
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container {
	color: aliceblue;
	font-size: 34px;
	padding: 15px 15px;
	width: 300px;
	text-align: center;
	margin-top: 20px;
	border-radius: 20px;
	margin-bottom: 50px;
	background-color: purple;
}

.transform {
	width: 300px;
	height: 300px;
	background-color: gray;
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
	margin-bottom: 20px;
	margin-right: 30px;

}

.transform:nth-child(3n+1) {
	margin-left: 100px;
}


[class*="transform__"] {
	text-align: center;
	margin: 50px auto;
	width: 200px;
	height: 200px;
	background-color: green;
	color: aqua;
	font-size: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

[class*="transform__"]:hover {
	transition: 0.5s;
}

.footer__title {
	text-align: center;
	font-size: 40px;
	background-color: burlywood;
	padding: 20px;
	border-radius: 20px;
	max-width: 300px;
	margin: 0 auto;
}

.transform__translate:hover {
	transform: translate(25%, 25%);
}
.transform__scale:hover {
	transform: scale(150%);
}
.transform__rotate:hover {
	transform: rotate(45deg);
}
.transform__skew:hover {
	transform: skew(10deg, 20deg);
}
.transform__origin:hover {
	transform: rotate(-60deg);
	transform-origin: top right;
}
.transform__perspective {
}
.transform__rotate-3d {
}
.transform__style {
}

.wheel {
	max-width: 300px;
	min-height: 300px;
	background-color: palevioletred;
	margin: 100px 0;
	border-radius: 50%;
	border: 20px solid blueviolet;
}

.rectangle {
	width: 100px;
	height: 100px;
	background-color: black;
	border-radius: 50%;
	margin: 80px auto;
	border: dotted 5px silver;
	transition-duration: 0.3s;
	transition-delay: 0.3s;
}
.wheel--left>.rectangle:hover {
	transform: scale(120%, 120%);
	transition-duration: 0.8s;
}
@keyframes wheel-go {

}
.wheel--left {

}
.wheel--right {
position: relative;
top: -400px;
left: 800px;
}

.section-3__container {
	padding-top: 500px;
}

.line {
	width: 520px;
	height: 30px;
	background-color: blueviolet;
	position: absolute;
	top: 110px;
	left: -530px;
}