@import url("reset.css");

body {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	color: #808080;
	font-size: 14px;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 680px;
	margin: 0 auto;
	margin-bottom: 50px;
	padding: 0 15px;
}
.header {
}
.header__container {
	text-align: center;
}
.page-1__container {
	line-height: 150%;
}
.title {
	margin-bottom: 20px;
	text-align: center;
	font-size: 32px;
}
.info {
	margin-bottom: 25px;
}

.page-1__container>ul {
	margin-bottom: 20px;
}
.page-1__container>ul>li {
	background-image: url("../images/Check.png");
	background-repeat: no-repeat;
	min-height: 20px;
	padding-left: 28px;
	margin-bottom: 14px;
}
.page-2 {
	background-color: #302C42;
}
.page-2__container {
	font-size: 0;
	max-width: 1300px;
	padding: 50px 15px;

}
.image-section {
	width: 50%;
	display: inline-block;
	padding-right: 120px;
}
.image-section>img {
border-radius: 240px 100px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.info-section {
	width: 50%;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	vertical-align: middle;
	color: #fff;
}
.info-section__title {
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.info-section__sub-title {
	font-weight: 300;
	font-size: 36px;
	text-transform: uppercase;
	margin-bottom: 42px;
}
.info-section__description {
	font-size: 16px;
	font-weight: 400;
}
.info-section__button {
	font-size: 12px;
	font-weight: 700;
}
.footer {
}
.footer__container {
	text-align: center;
}