@import url("reset.css");

body {
	font-family: "Poppins", sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
	max-width: 1290px;
	padding: 0 15px;
	margin: 0 auto;
}
.header {
	margin-bottom: 100px;
	margin-top: 50px;
}
.header__container {
}
.header__title {
	text-align: center;
}
.page {
}
.section-1 {
}
.section-1__container {
}
.section-1__info {
}
.info-user {
}
.info-user__title {
	margin-top: 32px;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 500;
	line-height: 150%;
}
.info-user__name {
	font-size: 14px;
	line-height: 150%;
	display: inline-flex;
	flex-direction: column;
	width: 280px;
	gap: 8px;
}

.info-user__name:not(:last-child) {
	margin-right: 16px;
}

.input-frame {
padding: 14px 16px;
border: solid 1px #E6E6E6;
border-radius: 6px;
}

.name-span--gray {
	color: #808080;
}
.address-name {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	font-size: 14px;
	line-height: 150%;
	gap: 6px;
}

.address-frame {
	padding: 14px 16px;
	border: solid 1px #E6E6E6;
	border-radius: 6px;
	width: 880px;
	margin-bottom: 16px;
}
.info-user__surname {

}
.info-user__company-name {
	
}
.footer {
margin-top: 100px;
}
.footer__container {
}

::placeholder {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 130%;
	color: #999999;
}

.country-list {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 130%;
	color: #999999;
	padding: 14px 16px;
	border: solid 1px #E6E6E6;
	border-radius: 6px;
}

option {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 130%;
	color: #999999;
}