@import url("reset.css");

.wrapper {
	min-height: 100%;
	overflow: clip;
}

[class*="__container"] {
max-width: 1230px;
padding: 0 15px;
margin: 0 auto;
}

.header {
}
.header__container {
}
.page-1 {
}
.section-1 {
	background-color: #412672;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	padding-top: 30px;
	padding-bottom: 30px;
}
.section-1__container {
}
.section-1__title {
	color: #fff;
	font-size: 38px;
	max-width: 100%;
	margin: 0 0 30px 0;
}
.section-1__cards {

}
.card {
}
.card__item {
	display: inline-block;
	font-size: 0px;
	max-width: 382px;
	vertical-align: top;
	background-color: #fff;
	padding: 20px;
	height: 476px; 
	box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00), 0px 246px 98px 0px rgba(0, 0, 0, 0.01), 0px 138px 83px 0px rgba(0, 0, 0, 0.05), 0px 62px 62px 0px rgba(0, 0, 0, 0.09), 0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.card__item>p {
	min-height: 80px;
}

.card__item:hover {
	background-color: #FFBE48;
	transition: 0.3s;
}

.card__item:not(:last-child) {
	margin-right: 20px;
}

.card__item > *:not(:last-child) {
	margin-bottom: 20px;
}

.card__image {
}
.card__title {
	font-size: 22px;
	font-weight: 600;
}
.card__info {
	color: #4F4F4F;
	font-size: 15px;
	line-height: 126.666667%; /* 19/15 */
}
.card__more {
	color: #FE3F3F;
	font-size: 15px;
	line-height: 126.666667%; /* 19/15 */
}

.card__more:hover {
	text-decoration: underline;
	transition: 0.3s;
}

.section-2 {
	padding-top: 150px;
	padding-bottom: 150px;
	font-family: "Inter", sans-serif;
	font-weight: 400;
}
.section-2__container {
	max-width: 550px;
	color: #412672;
}

.section-2__container>*:not(:last-child) {
	margin-bottom: 20px;
}

.section-2__title {
	font-size: 34px;
}
.section-2__info {
	font-size: 22px;
}
.section-2__list {
	color: #4F4F4F;
	font-size: 20px;
	line-height: 255%; /* 51/20 */
}

.item::before {
content: "";
background: url(../images/check.svg);
width: 29px;
height: 29px;
vertical-align: middle;
margin-right: 15px;
}

.footer {
}
.footer__container {
}