@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/FontsFree-Net-Circular-Std-Book.woff2') format('woff2'),
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/FontsFree-Net-CircularStd-Bold.woff2') format('woff2'),
	font-style: normal;
	font-weight: 700;
}