@import url("reset.css");

@import url("fonts.css");

body {
font-family: "Circular Std", sans-serif;
font-weight: normal;
font-size: 14px;
color: #252B42;
}

.wrapper {
	min-height: 100%;
	background-color: #231F8B;
	overflow: clip;
}
.header {
	text-align: center;
	color: #FFFFFF;
	font-size: 60px;
	padding-top: 20px;
}


[class*=__container] {
	max-width: 1080px;
	padding: 100px 15px 50px;
	margin: 0 auto;
}

.header__container {
	border: 5px solid #FFFFFF;
}
.page-1 {
}
.section-1 {
}
.section-1__container {
}
.desc {
	margin-bottom: 70px;
}
.desc__caption {
	margin-bottom: 10px;
	color: #5A54F2;
	line-height: 171.428571%; /* 24/14 */
	letter-spacing: 0.2px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
}
.desc__title {
	margin-bottom: 10px;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 36px;
}
.desc__info {
	color: #FFFFFF;
	line-height: 142.857143%; /* 20/14 */
	letter-spacing: 0.2px;
}
.section-1__cards {
	margin-left: -15px;
	margin-right: -15px;
	font-size: 0;
}
.content {
	display: inline-block;
	width: 25%;
	padding: 0 15px;
	vertical-align: top;
}

.card {
	padding: 35px 40px;
	background-color: #fff;
}

#card-2, #card-4 {
	margin-top: 20px;
}

#card-3 {
	background-color: #5A54F2;
}

#card-3>.card__title {
	color: #FFF;
}

#card-3>.decoration-line {
	background-color: #fff;
}

.card__image {
	margin-bottom: 20px;
}

#card-3>.card__desc {
	color: #fff;
}

.card__title {
	font-size: 16px;
	font-weight: bold;
	line-height: 150%; /* 24/16 */
	letter-spacing: 0.1px;
	margin-bottom: 20px;
}
.decoration-line {
	width: 50px;
	height: 2px;
	background-color: #E74040;
	margin-bottom: 20px;
}

.card__desc {
	font-family: "Montserrat", sans-serif;
	color: #737373;
	font-weight: 400;
	line-height: 142.857143%; /* 20/14 */
	letter-spacing: 0.2px;
	font-size: 14px;
}
.footer {
	text-align: center;
	color: #FFFFFF;
	font-size: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer__container {
	border: 5px solid #FFFFFF;
}